<h1>Stupid Coach</h1>

<div>
  <h4> <%= @ask %> </h4>
  <h4> <i>—You </i></h4>
</div>

<div id="coach">
  <h4> <strong> <%= @answer %> </strong></h4>
  <h4> <i>—Your coach</i></h4>
</div>

<%= link_to "Ask a new question", ask_path %>

